version: '3.9'

services:
  identity:
    image: ghcr.io/algotecture/algotecture-identity:latest
    container_name: algotecture_identity
    restart: always
    ports:
      - "5001:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    depends_on:
      - postgres
      - rabbitmq

  user:
    image: ghcr.io/algotecture/algotecture-user:latest
    container_name: algotecture_user
    restart: always
    ports:
      - "5002:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    depends_on:
      - postgres
      - rabbitmq

  space:
    image: ghcr.io/algotecture/algotecture-space:latest
    container_name: algotecture_space
    restart: always
    ports:
      - "5004:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    depends_on:
      - postgres

  reservation:
    image: ghcr.io/algotecture/algotecture-reservation:latest
    container_name: algotecture_reservation
    restart: always
    ports:
      - "5005:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    depends_on:
      - postgres
      - rabbitmq

  gateway:
    image: ghcr.io/algotecture/algotecture-apigateway:latest
    container_name: algotecture_apigateway
    restart: always
    ports:
      - "5006:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    depends_on:
      - identity
      - user
      - space
      - reservation

  telegrambot:
    image: ghcr.io/algotecture/algotecture-telegrambot:latest
    container_name: algotecture_telegrambot
    restart: always
    ports:
      - "5003:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    depends_on:
      - redis
      - rabbitmq
      - gateway
