name: Publish Telegram Bot Service

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NS: ${{ github.repository_owner }}

jobs:
  publish_bot:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Telegram Bot
        uses: docker/build-push-action@v6
        with:
          context: .
          file: src/TelegramBot/AlgoTecture.TelegramBot.Api/Dockerfile
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NS }}/algotecture-telegrambot:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NS }}/algotecture-telegrambot:${{ github.sha }}
